# Flutter related
frontend/build/
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata

# Node.js related
backend/node_modules/

# System Files
.DS_Store
Thumbs.db

# VSCode settings (opcional)
.vscode/
